<div style="font-size: 14px; line-height: 24px; color:#333; font-family:sans-serif;">
  <p>Hello {{name}}, are you alright?!</p>
  <p>You've just created your account in Twitter Like with the user {{userName}}</p>
  <p>
    We see each other out there!
    <strong>Twitter Like team!</strong>
  </p>
</div>
